{% extends "base.html" %}
{% block title %}Your Profile{% endblock %}

{% block content %}

{% if profile.cover_photo %}
    <img src="{{ profile.cover_photo.url }}" style="width:100%; height:200px; object-fit:cover;">
{% endif %}

{% if profile.profile_picture %}
    <img src="{{ profile.profile_picture.url }}" width="120" style="border-radius: 50%;">
{% else %}
    <img src="/static/img/default-avatar.png" width="120" style="border-radius: 50%;">
{% endif %}

<h2>{{ profile.get_full_name }}</h2>

<p><strong>Email:</strong> {{ profile.user.email }}</p>
<p><strong>Nationality:</strong> {{ profile.nationality }}</p>
<p><strong>Bio:</strong> {{ profile.bio }}</p>
<p><strong>Linkedin:</strong> {{ profile.linkedin }}</p>

<a href="{% url 'profile-edit' %}">Edit Profile</a>

{% endblock %}
